<footer>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <p>&copy; 2024 Vedakshethra Kerala Ayurvedic Treatment Centre. All Rights Reserved.</p>
</footer>
