<header>
    <link rel="stylesheet" href="css/styles.css">
    <script src="/js/scripts.js"></script>
    <h1>Admin Dashboard</h1>
    <nav>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/appointments">Appointments</a>
        <a href="/admin/schedules">Schedules</a>
        <a href="/admin/staff">Staff</a>
        <a href="/logout">Logout</a>
    </nav>
</header>
